@page

@model IndexModel

<div class="container">
  <main>

    <partial name="_Header" />

    <partial name="_Consultations" for="Consultations"/>

  </main>

  <partial name="_Footer" />

</div>




